body {
    font-family: "CenturyGothicRegular", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container {
    min-width: 320px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.header-col-1{}
.header-col-2{
    padding: 10px 0;
}
.header-col-3{

}
.logo {
    text-align: center;
}
.logo a {
    content: '';
    background: url(../images/logo.png) 0px 6px no-repeat;
    width: 203px;
    height: 30px;
    display: block;
    top: 0;
    left: 0;
    margin: auto;
    text-align: center;
}
.logo span {
    font-size: 15px;
    color: #000;
    font-family: "MyriadProRegular";
    text-transform: inherit;
}
.logo span i {
    color: #e1223b;
    font-style: normal;    
}
.logo span::after {
    content: '';
    background: url(../images/logo_2.png) no-repeat;
    background-position: 0px 0px;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 0 0 12px;
}
.shedule {
    display: none;    
}
.search {
    width: 100%;
    position: relative;
}
.search input {
    border: none;
}
.search .input {
    width: 100%;
    padding: 0px 37px 0px 14px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.1), inset 0 1px 11px rgba(0,0,0,0.3);
    outline: none; 
    text-transform: capitalize;
    font-size: 16px;
    font-style: italic;
}
.search .input:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #E8E8E8;
    color: #333;
}
.search .submit {
    position: absolute;
    top: 0px;
    right: 0;
    width: 24px;
    height: 100%;
    cursor: pointer;
    background: url(../images/ic-search.png) 50% no-repeat;
}
.search .submit:hover {
    opacity: 0.8;
}
/*input[type="search"] {
    -webkit-appearance: none;
}*/
.contacts {
    display: none;
}
.basket {
    display: none;    
}

.menu-wrap {
    background: #f4f3f3;
    border-bottom: 5px solid #e1223c;
    padding: 10px 0;
}
.displaynone {
    display: none;
}
.menu-grid {
    list-style: none;
    margin:0;
    padding: 0;
}
.menu-grid li {
    padding: 2px 5px;
}
.menu-grid a {
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    display: block;
    color: #434342;
    font-size: 18px;
    padding: 5px 0 5px 14px;
}
.menu-grid a:hover {
    background: #e1223c;
    color: #fff;
}
.mobile-menu .fa {
    font-size: 20px;
    color: #434342;
}
.mobile-basket {
    float: right;
}


@media screen and (min-width: 480px) {
    .logo span {
        display: block;
    }
}
@media screen and (min-width: 640px) {
    .logo a {
        display: inline-block;
    }
    .logo span {
        display: inline-block;
    }
}
@media screen and (min-width: 800px) {
    .container {
        padding: 0;
    }
    .mobile-menu-btn {
        display: none;
    }
    .mobile-menu {
        display: none;
    }
    .displaynone {
        display: block;
        text-align: center;
        margin: 0 18px 0 0;
    }
    .header-col-1,
    .header-col-2,
    .header-col-3 {
        float: left;
    }
     .header-col-1 {
        width: 48% ;
     }
    .header-col-2 {
        padding: 1px 0;
        width: 24% ;
    }
    .header-col-3 {
        width: 28% ;
    }    
    .shedule {
        display: block;
        text-align: center;
        padding: 5px 0 0px 42px;
    }
    .shedule span {
        display: inline-block;
        font-size: 14px;
        color: #423c37;
    }
    .shedule span i {
        display: block;
    }
    .shedule span:first-child {
        border-right: 1px solid grey;
        padding: 4px 22px 10px 0;
    }
    .shedule span:last-child {    
        padding: 0px 0 0 18px;
    }
    .search {
        padding: 6px 0 0 10px; 
    }
    .search .input {
        width: 100%;
    }
    .search .submit {
        top: 3px;
    }
    .contacts span {
        display: block;
        font-size: 16px;
        color: #423c37;
    }
    .contacts {
        display: block;
        padding: 7px 0 0 64px;
    }
    .basket {
        display: block;
        position: relative;
        padding: 2px 0 0 119px;
    }
    .basket a {
        content: '';
        background: url(../images/basket.png) no-repeat;
        width: 58px;
        height: 100px;
        display: inline-block;
        position: absolute;
        top: -4px;
        right: 63%;
    }
    .basket span {
        display: block;
        font-size: 14px;
        color: #423c37;
    }
    .basket p {
        margin: 0;
        font-size: 16px;
        color: #423c37;
        text-transform: capitalize;
        padding-bottom: 3px
    }
    .menu-grid a {
        padding: 6px 3px 7px 4px;
    }
     .menu-grid li {
        padding: 0px 3.7% 0 0;
        display: inline-block;
    }
    
/*    .menu-grid li:first-child {
        margin-left: 11%;
    }*/
    .menu-grid li:last-of-type {
        padding-right:  0;
    }
    
    .menu-wrap {
            padding: 0;
        margin: 10px 0 0 0;
    }


}