/**********
 * common *
 **********/

body {
    font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', 'CenturyGothicRegular', Arial, sans-serif;
    font-size: 10px;
    line-height: 1;
}

.container {
    max-width: 1000px;
    min-width: 320px;
    width: 95%;
    box-sizing: border-box;
    margin: 0 auto;
}

.title {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

.section-title {
    font-size: 2.4em;
    color: #968c85;
    text-align: center;
    margin: 10px 0;
}

/********
 * grid *
 ********/

.row-flex::after {
    content: '';
    display: table;
    clear: both;
    font-size: 0;
    line-height: 0;
    border: none;
    outline: none;
    width: 100%;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.col {
    float: left;
    box-sizing: border-box;
}

.col-sidebar {
    width: 100%;
    flex: 0 0 100%;
}

.col-main {
    width: 100%;
    flex: 0 0 100%;

}

.col-banners {
    width: 100%;
    flex: 0 0 100%;

    padding: 1%;
    margin-top: 1%;
    border-top: solid 1px #d7d7d7;
}

.col-main-large {
    width: 100%;
    flex: 0 0 100%;
}

.banner {
    width: 100%;
    flex: 0 0 100%;

    font-size: 0;
    margin-top: 8%;
}

.banner:first-child {
    margin-top: 0;
}

.banner a,
.banner img {
    display: block;
    width: 100%;
    height: auto;
}

.product-row-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.product-row-flex::after {
    content: '';
    display: table;
    clear: both;
    font-size: 0;
    line-height: 0;
    border: none;
    outline: none;
    width: 100%;
}

.product-card-wrap {
    width: 100%;
    flex: 0 0 100%;
}

.parametr_wrap {
    width: 100%;
    flex: 0 0 100%;
}

.product-card-wrap,
.parametr_wrap {
    float: left;
}

/**********
 * header *
 **********/

.header {
    padding-top: 10px;
}

.header-col-2 {
    padding: 10px 0;
}

.logo {
    text-align: center;
}

.logo a {
    display: block;
    top: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

.logo span {
    font-size: 1.5em;
    color: #000;
    font-family: "MyriadProRegular", sans-serif;
    text-transform: inherit;
    position: relative;
    letter-spacing: 0;
    padding-left: 2px;
}

.logo span i {
    color: #e1223b;
    font-style: normal;
    padding-right: 2px;
}

.logo span::after {
    content: '';
    background: url(../images/logo2.png) no-repeat;
    background-position: 0 0;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-left:12px;
    position: absolute;
    top: -10px;
    right: -16px;

}

.logo a img {
    display: block;
    margin: auto;
}

.shedule {
    display: none;
}

.search {
    width: 90%;
    position: relative;
}

.search input {
    border: none;
}

.search .input {
    width: 100%;
    padding: 2px 0 1px 11px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), inset 0 1px 11px rgba(0, 0, 0, 0.3);
    outline: none;
    text-transform: capitalize;
    font-size: 1.6em;
    font-style: italic;
    margin-left: 17px;
}

.search .input:focus {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
    background: #E8E8E8;
    color: #333;
}

.search .submit {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 24px;
    cursor: pointer;
    background: url(../images/ic-search.png) 50% no-repeat;
}

.search .submit:hover {
    opacity: 0.8;
}

.contacts {
    display: none;
}

.basket {
    display: none;
}

.menu-wrap {
    background: #f4f3f3;
    border-bottom: 5px solid #e1223c;
    padding: 10px 0;
}

.displaynone {
    display: none;
    text-align: center;
}

.menu-grid {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-grid li {
}

.menu-grid a {
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    display: block;
    color: #434342;
    font-size: 1.8em;
    padding: 5px 0 5px 14px;
}

.menu-grid a:hover {
    background: #e1223c;
    color: #fff;
}

.mobile-menu .fa {
    font-size: 20em;
    color: #434342;
}

.mobile-basket {
    float: right;
}

/***************
 * breadcrumbs *
 ***************/

.breadcrumbs-wrapper {
    border-bottom: solid 1px #d7d7d7;
    padding: 1.3% 1% 1.2%;
    justify-content: space-between;
    align-items: center;
}

.breadcrumbs-gradient {
    background: #dbdbdb;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #fdfdfd 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #fdfdfd 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #fdfdfd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#fdfdfd', GradientType=0);
}

.breadcrumbs {
    float: left;
    font-size: 1.2em;
    width: 100%;
    flex: 0 0 100%;
    color: #7f746c;
    padding-left: 23px;
}

.breadcrumbs a {
    white-space: nowrap;
}

.breadcrumbs a::before {
    content: '→';
    display: inline;
    margin: 0 1.6%;
}

.breadcrumbs a:first-child::before {
    content: none;
}

.main-title {
    float: right;
    font-size: 2.4em;
    color: #968c85;
    text-align: center;
    width: 100%;
    flex: 0 0 100%;
    letter-spacing: -1px;
    padding: 3px 0 0 53px;
}

/***********
 * sidebar *
 ***********/

.sidebar {
    border-right: solid 1px #d7d7d7;
}

.sidebar-title {
    font-size: 1.8em;
    color: #151515;
    line-height: 1.25;
}

.sidebar-title a {
    display: block;
    padding: 1px 0 1px 7px;
}

.submenu-content {
    padding-bottom: 1%;
    display: none;
}

.subgroup {
    margin-top: 7px;
}

.sidebar p, .subgroup-title {
    font-size: 1.4em;
    color: #423c37;
}

.subgroup-title {
    padding: 8px 0 1px 20px;
}

.side-menu p {
    padding: 1px 0 0 35px;
    font-size: 14px;
}

.side-menu p:hover, .subgroup-title:hover {
    background: #d6d6d6;
}

.side-submenu.active .sidebar-title {
    color: #ffffff;
    background: #e1223c;
    padding-top: 2px;
}

.side-submenu.active .submenu-content {
    display: block;
    padding-right: -14px;
}

.subgroup.active .subgroup-title::before {
    content: '';
    display: inline-block;
    width: 10px;
    margin-left: -12px;
    margin-right: 2px;
    padding: 5px 0;
    background: url('../images/sidebar-dot.png') center/auto no-repeat;
}

.requisites {
    text-align: center;
    border-top: solid 1px #d7d7d7;
    padding: 1% 4%;
}

.requisites p {
    line-height: 1.285714;
}

/*********
 * promo *
 *********/

.promo {
    background: url('../uploads/promo-bg.jpg') top right/cover no-repeat;
    padding: 4.25% 0 30.2%;
}

.promo-title {
    font-family: 'MyriadProCondRegular', sans-serif;
    background: url('../images/swizerland-logo.png') center right 4.75%/auto 77% no-repeat, rgba(255, 255, 255, 0.28);
    padding: 3.6% 17% 2.65% 2.6%;
    float: right;
    font-size: 2.5em;
    line-height: 0.8em;
    color: #000000;
    max-width: 48.65%;
    min-width: 250px;
}

/****************
 * main article *
 ****************/

.main-article .title {
    font-size: 1.8em;
    color: #e1223b;
    margin: 4.8% 0 2.2% 0;
}

.main-article p {
    font-size: 1.4em;
    line-height: 1.25;
    color: #434342;
}

.main-article > p {
    text-indent: 1.1em;
}

.main-article header {
    font-weight: bold;
    margin-bottom: 2%;
}

.main-article footer {
    margin-top: 2%;
}

/************
 * contacts *
 ************/

.contacts-page {
    border-bottom: 1px dashed #ededed;
    text-align: center;
}

.contacts-page p {
    font-size: 1.8em;
    margin: 0;
    padding-bottom: 10px;
}

.phone {
    padding-top: 10px;
    position: relative;
}

.phone::before {
    content: '';
    float: left;
    width: 85px;
    height: 65px;
    background-image: url(../images/mobile.png);
    background-position: center top;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    left: 97px;
    display: none;
}

.adress {
    padding-top: 39px;
}

.adress p {
    font-size: 1.4em;
    margin: 0;
}

.contacts-page .title-red {
    color: #e1223b;
    font-size: 1.8em;
    padding-bottom: 5px;
}

.map_wrap {
    margin-bottom: 2.4em;
    padding-top: 10px;
    background: url(../images/background.png) top left repeat, #ededed;
}

.map {
    width: 100%;
    height: 300px;
}

/****************
 * product card *
 ****************/

.product-card {
    width: 100%;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding: 15px 0 9px 0;
    position: relative;
}

.product-card:before {
    content: 'новинка';
    color: #fff;
    font-size: 1.5em;
    padding: 3px 12px;
    background: #e1223c;
    -webkit-border-bottom-right-radius: 9px;
    -moz-border-radius-bottomright: 9px;
    border-bottom-right-radius: 9px;
    position: absolute;
    top: 72px;
    left: 199px;
    z-index: 10;
}

.card-slider {
    width: 100%;
    margin: 29px 0 0 -16px;
}

.slider-main {
    margin-left: 50px;
}

.slider-nav {
    margin-left: 40px;
}

.slider-nav img {
    width: 45%;
    margin: 11px;
}

.slick-arrow {
    z-index: 1;
}

.colors {
    padding-left: 13px;
}

.product-card h4 {
    margin: 22px 0 6px 5px;
    font-size: 1.2em;
}

.circle {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    display: inline-block;
}

.circle:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    bottom: -12px;
    left: 2px;
}

.c-red {
    background: #f84040;
}

.c-green {
    background: #e8ff7c;
}

.c-blue {
    background: #7cbaff;
}

.c-yellow {
    background: #fbf8c5;
}

.circle:hover::before {
    border-color: transparent transparent #c4c4c4 transparent;
}

.zoom {
    float: right;
    position: relative;
}

.zoom:after {
    content: '';
    background: url("../images/search.png") no-repeat;
    position: absolute;
    bottom: -5px;
    right: 16px;
    width: 35px;
    height: 35px;
}

/*******************************
 * product short specofocation *
 *******************************/

.parametr_wrap {
    padding: 10px;
    background: url(../images/background.png) top left repeat;
    width: 100%
}

.parametr {
    background: #fff;
    padding: 16px 0 0 12px;
}

.parametr_title {
    font-size: 1.8em;
    margin: 0;
    color: #434342;
    padding-bottom: 11px;
    line-height: 22px;
}

.parametr_decription {
    font-size: 1.4em;
    margin: 0;
    color: #151515;
    padding-bottom: 20px;
    line-height: 16px;
}

.description {
    font-size: 1.1em;
    margin: 0;
    color: #423c37;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 11px;
    line-height: 11px;
}

.smart {
    font-size: 1.2em;
    margin: 0;
    color: #423c37;
    padding: 21px 0 0 10px;
    line-height: 15px;
}

.social {
    padding-top: 10px;
}

.smart span {
    font-size: 1.2em;
    margin: 0;
    color: #e1223c;
}

.parametr .characteristics-block {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #d7d7d7;
    padding: 4px 0 0 9px;
    line-height: 13px;
}

.parametr .characteristics-block li:nth-child(2n+1) {
    width: 72%;
}

.parametr .characteristics-block li:nth-child(2n) {
    border-bottom: 0;
    width: 28%;
}

.share {
    float: left;
    background: #edecec;
    border-top: 1px solid #d7d7d7;
    border-radius: 0 0 17px 0;
    color: #434342;
    font-size: 1.4em;
    margin-right: 7px;
    padding: 5px 4px 0 0px;
    text-decoration: none;
}

.share::before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    background-image: url(../images/round.png);
    background-position: center top;
    background-repeat: no-repeat;
    padding-right: 3px;
}

.price_wrap {
    border-top: 1px solid #d7d7d7;
    padding-top: 20px;
}

.price {
    font-size: 2.4em;
    margin: 0;
    color: #968c85;
    display: inline-block;
}

.buy {
    float: right;
    background: #edecec;
    border-radius: 0 0 0 20px;
    color: #434342;
    font-size: 1.8em;
    margin: -6px -3px 0 0;
    padding: 0 10px;
    text-decoration: none;
}

/*************************
 * product specofocation *
 *************************/

.specification_title {
    border-bottom: 1px solid #d7d7d7;
    width: 100%;
    padding: 25px 0 0 10px;
}

.specification_title h3 {
    background: #d7d7d7;
    font-size: 1.4em;
    color: #434342;
    margin: 0 0 0 16px;
    padding: 11px 19px 7px 14px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline-block;
}

.item-spec {
    width: 100%;
}

.item-spec p {
    font-size: 1.2em;
    color: #434342;
    line-height: 1.25;
    margin: 14px 0 32px 0;
}

.downloads h4 {
    font-size: 1.8em;
    color: #968c85;
    margin: 15px 0 31px 68px;
    padding: 0;
    font-weight: normal;
    text-transform: capitalize;
}

.download-item {
    border-bottom: 1px solid #d7d7d7;
    margin: 0 0 19px 30px;
    width: 50%;
}

.download-item a {
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 1.4em;
    color: #434342;
    padding: 0 0 0 27px;
    margin: 0 0 8px 26px;

}

.download-item a::before {
    content: '';
    position: absolute;
    background: url(../images/ic-specification.png);
    top: -3px;
    left: -8px;
    width: 21px;
    height: 25px;
    display: block;
}

.download-item a span {
    color: #968c85;
}

.characteristics-block {
    width: 100%;
    margin: 44px 0 85px 11px;
}

.characteristics-block ul {
    padding: 0;

}

.characteristics-block li {
    float: left;
    display: inline;
    position: relative;
    font-size: 1.2em;
    color: #434342;
    padding: 0 0 4px 0;
}

.characteristics-block li:nth-child(2n+1) {
    width: 75%;
}

.characteristics-block li:nth-child(2n) {
    border-bottom: 0;
    width: 25%;
}

.characteristics-block li:nth-child(2n+1):after {
    content: "";
    position: absolute;
    border-bottom: 1px dotted #d7d7d7;
    display: block;
    bottom: 7px;
    padding: 1px 50%;
    box-sizing: border-box;
}

.characteristics-block li span {
    background: white;
    position: relative;
    z-index: 2;
}

/************
 * feedback *
 ************/

.services {
    width: 100%;
    position: relative;
    /*border-top: 1px solid #434342;*/
    /*    border-bottom: 1px solid #434342;*/
}

.services:last-child {
    margin-bottom: 0;
}

.service-item {
    padding-left: 105px;
    margin-bottom: 56px;
}

.service-item h3 {
    font-size: 1.8em;
    margin-top: 30px;
}

.service-item h3:hover {
    color: #e1223b;
}

.service-item p {
    font-size: 1.4em;
    line-height: 18px;
}

.ic {
    background: url(../images/service.png) no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 20px;
}

.ic-answers {
    background-position: -3px 0;
    top: 0;
}

.ic-service {
    background-position: -7px 27%;
    top: 25%;
}

.ic-warranty {
    background-position: -7px 52%;
    top: 46%;
}

.ic-downloads {
    background-position: -4px 81%;
    bottom: 26%;
}

.ic-video {
    background-position: -4px 108%;
    bottom: 4%;
}

/***************
 * main slider *
 ***************/

.main-slider {
    text-align: center;
    border-top: 1px solid #d7d7d7;
    width: 98%;
    box-sizing: border-box;
}

.picture {
    position: relative;
    width: 23%;
}

.main-slider .type {
    color: #434342;
    font-size: 1.8em;
    font-weight: 300;
    margin-top: 13px;
}

.main-slider .picture p {
    color: #434342;
    font-size: 1.1em;
    padding: 0 18px;
}

.main-slider .label {
    color: #fff;
    font-size: 1em;
    padding: 4px 8px;
    background: #e1223c;
    -webkit-border-bottom-right-radius: 9px;
    -moz-border-radius-bottomright: 9px;
    border-bottom-right-radius: 9px;
    position: absolute;
    top: 0;
    left: 60px;
}

.main-slider .slick-slide {
    outline: none;
    color: #cacaca;
    width: 15%;
}

.main-slider .slick-slide:hover {
    color: #d9213a;
}
/**************
 * advantages *
 **************/

.advantages {
    position: relative;
    border-top: 1px solid #d7d7d7;
    margin: 42px 0 0 0;
}

.advantages .row-flex {
    justify-content: center;
    margin-top: 17px;
    padding-bottom: 20px;
}

.advantages .col {
    flex-basis: 100%;
    width: 100%;
}

.advantages .article-title {
    font-size: 1.4em;
    color: #151515;
    padding: 0 15px 0 85px;
    margin: 0;
}

.advantages p {
    font-size: 1.2em;
    color: #423c37;
    padding: 0 15px 0 85px;
    margin: 16px 0;
}

.advantages .icon {
    text-align: left;
    position: relative;
}

.advantages .icon::before {
    content: "";
    width: 75px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: -19px;
    left: 1px;
}

.advantages .garantee::before {
    background-image: url(../images/garantee.png);
}

.advantages .car::before {
    background-image: url(../images/car.png);
}

.advantages .service::before {
    background-image: url(../images/instruments.png);
}

.advantages .pocket::before {
    background-image: url(../images/pocket.png);
}

.advantages .calc::before {
    background-image: url(../images/calc.png);
}

.advantages .sale::before {
    background-image: url(../images/sale.png);
}

/**********
 * footer *
 **********/

.footer .menu-grid li {
    padding: 2px 5px;
}

.menu-grid a:hover {
    background: #e1223c;
    color: #fff;
}

.footer-menu {
    border-top: 5px solid #e1223c;
}

.footer .menu-grid a {
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    display: block;
    color: #434342;
    font-size: 1.6em;
    padding: 5px 0 5px 14px;
}

.footer-info {
    text-align: center;
}

.statistic {
    display: none;
}

.footer-shedule {
    text-align: center;
    padding: 15px 0;
}

.footer-shedule span {
    display: block;
    font-size: 1.4em;
    color: #423c37;
}

.footer-contacts span {
    display: block;
    font-size: 1.6em;
    color: #423c37;
}

.footer-shedule i {
    display: block;
}

.footer-contacts {
    padding: 15px 0;
}

.footer .developer {
    padding: 10px 0 0 20px;
}

.footer .developer a {
    display: block;
    padding: 0 35px 0 0;
}

.footer .developer span {
    font-size: 1.4em;
    color: #423c37;
}

/**************
 * adaptivity *
 **************/


@media screen and (min-width: 480px) {
    .logo span {
        display: block;
    }
}
@media screen and (min-width: 480px) {
    .logo a img {
        margin: auto;
    }

    .phone::before {
        display: block;
    }

    .product-card {
        width: 100%;
    }

    .card-slider {
        width: 90%;
        margin: 29px 0 0 -16px;
    }

    .product-card:before {
        content: 'новинка';
        top: 65px;
        left: 8px;
        z-index: 10;
    }

    .slider-nav {
        margin-left: 0;
    }

    .services {
        width: 98%;
    }

    .service-item {
        padding: 0 0 39px 102px;
        margin-bottom: 0;
    }
    .ic {
        left: 3%;
    }
    .ic-answers {
        background-position: -3px 0;
        top: 1%;
    }

    .ic-service {
        background-position: -7px 27%;
        top: 21%;
    }

    .ic-warranty {
        background-position: -7px 52%;
        top: 41%;
    }

    .ic-downloads {
        background-position: -4px 81%;
        bottom: 33%;

    }

    .ic-video {
        background-position: -4px 108%;
        bottom: 12%;

    }

}

@media screen and (min-width: 640px) {
    .col-sidebar {
        width: 25%;
        flex-basis: 25%;
    }

    .col-main {
        width: 75%;
        flex-basis: 75%;
    }

    .col-main-large {
        width: 75%;
        flex-basis: 75%;
    }

    .banner {
        width: 30%;
        flex-basis: 30%;

        margin-left: 5%;
        margin-top: 0;
    }

    .banner:first-child {
        margin-left: 0;
    }

    .logo a {
        display: inline-block;
    }

    .logo img {
        margin: auto;
    }

    .breadcrumbs {
        width: 70%;
        flex-basis: 70%;
    }

    .main-title {
        width: 30%;
        flex-basis: 30%;
    }

    .sidebar .subgroup {
        margin-top: 8.6%;
    }

    .sidebar .subgroup:first-child {
        margin-top: 4.2%;
    }

    .submenu-content {
        padding-bottom: 3.9%;
    }

    .requisites {
        margin-top: 17.7%;
        padding: 7.7% 4% 1% 6%;
    }

    .requisites .sidebar-title {
        margin-bottom: 5.5%;
    }

    .advantages .col {
        flex-basis: 50%;
        width: 50%;
    }

    .product-card {
        width: 100%;
    }

    .card-slider {
        width: 90%;
        margin: 29px 0 0 15px;
    }

    .product-card:before {
        content: 'новинка';
        top: 65px;
        left: 8px;
        z-index: 10;
    }

    .slider-nav {
        margin-left: 0;
    }

}

@media screen and (min-width: 800px) {
    .col-sidebar {
        width: 21%;
        flex-basis: 21%;
    }

    .col-main {
        width: 52.7%;
        flex-basis: 56.7%;
        box-sizing: border-box;
        padding: 9px 0px 0px 26px;
        border-left: 1px solid #d7d7d7;
    }

    .col-banners {
        width: 16.3%;
        flex-basis: 16.3%;
        align-content: flex-start;
        border-top: none;
        box-sizing: border-box;
        padding: 1% 0 1% 0;
        margin: 0 0 0 24px;;
    }

    .col-main-large {
        width: 79%;
        flex-basis: 79%;
        border-left: 1px solid #d7d7d7;

    }

    .side-submenu {
        padding: 5% 0 8%;
    }

    .banner {
        width: 100%;
        flex-basis: 100%;

        margin-top: 8%;
        margin-left: 0;
    }

    .banner:first-child {
        margin-bottom: 2px;
    }

    .container {
        padding: 0;
    }

    .mobile-menu-btn {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .displaynone {
        display: block;
    }

    .header-col-1,
    .header-col-2,
    .header-col-3 {
        float: left;
    }

    .header-col-1 {
        width: 48%;
    }

    .header-col-2 {
        padding: 1px 0;
        width: 25%;
    }

    .header-col-3 {
        width: 27%;
    }

    .logo a img {
        display: inline-block;
        margin: 0;
    }

    .shedule {
        display: block;
        text-align: center;
        padding: 6px 0 0 29px;

    }

    .shedule span {
        display: inline-block;
        font-size: 14px;
        color: #423c37;
        line-height: 1.1;
    }

    .shedule span i {
        display: block;
    }

    .shedule span:first-child {
        padding: 6px 21px 9px 0;
        border-right: 1px solid grey;
    }

    .shedule span:last-child {
        padding: 0 0 0 20px;
    }

    .search {
        padding: 9px 0 0 2px;
    }

    .search .submit {

        top: 11px;
    }

    .search .input {
        width: 96%;
        margin-left: 4px;
    }

    .contacts {
        display: block;
        padding: 7px 0 0 6px;
        text-align: center;
    }

    .contacts span {
        display: block;
        font-size: 16px;
        color: #423c37;
        line-height: 1.2;

    }

    .basket {
        display: block;
        position: relative;
        padding: 7px 0 0 87px;
    }

    .basket a {
        content: '';
        background: url(../images/basket.png) no-repeat;
        width: 58px;
        height: 100px;
        display: inline-block;
        position: absolute;
        top: -2px;
        left: 28px;
    }

    .basket span {
        display: block;
        font-size: 14px;
        color: #423c37;
        margin-left: 17px;
    }

    .basket p {
        font-size: 16px;
        color: #423c37;
        text-transform: capitalize;
        padding-bottom: 8px;
        margin-left: 16px;
    }

    .menu-wrap {
        padding: 0;
        margin: 13px 0 0 0;
    }

    .menu-grid {
        padding: 0 13px 0 0;
    }

    .menu-grid li {
        display: inline-block;
        padding-right: 42px;
    }

    .menu-grid li:last-of-type {
        padding-right: 0;
    }

    .menu-grid a {
        padding: 8px 3px 10px 0px;
    }

    .breadcrumbs {
        width: 79%;
        flex-basis: 79%;
    }

    .main-title {
        width: 20.3%;
        flex-basis: 20.3%;
    }

    .footer .menu-grid li {
        padding: 0 3.1% 0 0;
    }

    .footer .menu-grid li:first-child {
        margin-left: 16%;
    }

    .footer .menu-grid li:last-child {
        padding: 0;
    }

    .footer .menu-grid a {
        padding: 10px 5px 11px 5px;
    }

    .menu-grid a:hover {
        background: #e1223c;
        color: #fff;
    }

    .footer-info {
        text-align: left;
    }

    .footer-col {
        float: left;
        width: 25%;
    }

    .statistic {
        display: block;
        padding: 3px 0 0 28px;
    }

    .mobile-statistic {
        display: none;
    }

    .footer-shedule {
        padding: 25px 0 0 79px;
    }

    .footer-contacts {
        padding: 23px 0 0 88px;
        box-sizing: border-box;
    }

    .developer {
        text-align: right;
        box-sizing: border-box;
        padding: 4px 9px 0 0;
    }

    .product-card-wrap {
        width: 53%;
        flex: 0 0 53%;
    }

    .parametr_wrap {
        width: 47%;
        flex: 0 0 47%;
    }

    .product-card {
        width: 100%;
    }

    .card-slider {
        width: 63%;
        margin: 31px 0 0 72px;
    }

    .product-card:before {
        content: 'новинка';
        top: 18px;
        left: 29px;
        z-index: 10;
    }

    .slider-nav {
        margin-left: 0;
    }

    .services {
        width: 100%;
    }

    .characteristics-block {
        width: 70%;
    }

    .item-spec {
        float: left;
        width: 63%;
        margin: 0 0 -37px 12px;
    }

    .downloads {
        float: left;
        width: 35%;
    }

    .download-item {
        width: 100%;
    }
    .ic {
        background: url(../images/service.png) no-repeat;
        width: 70px;
        height: 70px;
        position: absolute;
        left: 20px;
    }

    .ic-answers {
        background-position: -3px 0;
        top: 0;
    }

    .ic-service {
        background-position: -7px 27%;
        top: 22%;
    }

    .ic-warranty {
        background-position: -7px 52%;
        top: 40%;
    }
    .ic-downloads {
        bottom: 30%;
        background-position: -4px 81%;

    }

    .ic-video {
        background-position: -4px 108%;
        bottom: 7%;
    }

    .main-article .title {
        margin-left: -1.9%;
    }

    .advantages .row-flex {
        margin: 17px 0 0 40px;
    }
}






