/* tech-title */

.tech-title {
    background: black;
    color: white;
}

/* colorizer */
.col-sidebar, .breadcrumbs-wrapper { background: white; }

/* sizer */
div {padding: 0;}

/* common */

body {
    font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', 'CenturyGothicRegular', sans-serif;
    font-size: 10px;
    line-height: 1;
}

.title {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

/* breadcrumbs */

.breadcrumbs-wrapper {
    border-bottom: solid 1px #d7d7d7;
    padding: 1.3% 1% 1.2%;
    justify-content: space-between;
    align-items: center;
}

.breadcrumbs {
    float: left;
    font-size: 1.2em;
    padding: 0.5em 0;
    width: 100%;
    flex: 0 0 100%;
    color: #7f746c;
}

.breadcrumbs a {
    white-space: nowrap;
}

.breadcrumbs a::before {
    content: '→';
    display: inline;
    margin: 0 1.6%;
}

.breadcrumbs a:first-child::before {
    content: none;
}

.main-title {
    float: right;
    font-size: 2.4em;
    color: #968c85;
    text-align: center;
    width: 100%;
    flex: 0 0 100%;
    letter-spacing: -1px;
}

/* sidebar */

.sidebar {
    border-right: solid 1px #d7d7d7;
}

.sidebar-title {
    font-size: 1.8em;
    color: #151515;
    line-height: 1.25;
}

.sidebar-title a {
    display: block;
    padding: 1.7% 3.5% 2.3% 3.5%;
}

.submenu-content {
    padding-bottom: 1%;
}

.side-submenu .submenu-content {
    display: none;
}

.sidebar .subgroup {
    margin-top: 1%;
}

.sidebar p, .subgroup-title {
    font-size: 1.4em;
    color: #423c37;
}

.subgroup-title {
    padding: 0.7% 3% 0.7% 9.75%;
}

.side-menu p {
    padding: 0.7% 3% 0.7% 17.5%;
}

.side-menu p:hover, .subgroup-title:hover {
    background: #d6d6d6;
}

.side-submenu.active .sidebar-title {
    color: #ffffff;
    background: #e1223c;
}

.side-submenu.active .submenu-content {
    display: block;
}

.subgroup.active .subgroup-title::before {
    content: '';
    display: inline-block;
    width: 10px;
    margin-left: -12px;
    margin-right: 2px;
    padding: 5px 0;
    background: url('../tech-img/sidebar-dot.png') center/auto no-repeat;
}

.requisites {
    text-align: center;
    border-top: solid 1px #d7d7d7;
    padding: 1% 4%;
}

.requisites p {
    line-height: 1.285714;
}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 640px) {
    .breadcrumbs {
        width: 70%;
        flex-basis: 70%;
    }

    .main-title {
        width: 30%;
        flex-basis: 30%;
    }

    .sidebar .subgroup {
        margin-top: 8.6%;
    }

    .sidebar .subgroup:first-child {
        margin-top: 4.2%;
    }

    .submenu-content {
        padding-bottom: 3.9%;
    }

    .requisites {
        margin-top: 4.7%;
        padding: 7.7% 4%;
    }

    .requisites .sidebar-title {
        margin-bottom: 5.5%;
    }
}

@media screen and (min-width: 800px) {
    .breadcrumbs {
        width: 79%;
        flex-basis: 79%;
    }

    .main-title {
        width: 20.3%;
        flex-basis: 20.3%;
    }
}
